@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  height: 100vh;
  width: 100px;
  justify-content: space-between;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
  color: #fff;
  font-size: 40px;
  padding-inline: 32px;
  padding-block: 10px;
  background-color: rgb(113, 26, 194);
}

#icons {
  display: flex;
  flex-direction: column;
  margin-block: auto;
  width: 100px;
}

.nav-icons {
  margin-block: 20px;
  text-align: center;
  width: 100%;
}

.nav-icons img {
  transition: 0.3s;
}

.nav-icons:hover img {
  transform: scale(200%);
  transition: 0.3s;
}


@media screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }
  
  #logo {
    display: none;
  }
  
  #nav-bar {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  

  #icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-icons {
    
  }
}